
<article class="card">

    <a href="#!" class="card__link"></a>

    <div class="card__picture">

        <img src="./img/arrivals/@@img.jpg" srcset="./img/arrivals/@@img@2x.jpg 2x" alt="">

        <div class="card__new">
            <span class="badge">@@status</span>
        </div>

        <div class="card__fav">
            <img src="./img/icons/fav.svg" alt="">
        </div>

        <div class="card__btn">
            <button class="btn">Add to cart</button>
        </div>
       

    </div>

    <div class="card__desc">

        <div class="card__rating">
            
            @@for ( var i = 0; i < context.rating; i++ ) {
                <img src="./img/icons/star.svg" alt="">
            } 
            
            
        </div>

        <div class="card__title">
            <p class="card__title--ellipsis">@@title</p>
        </div>

        <div class="card__price">@@price</div>

    </div>

    

</article>

